body {
    background-color: #af0707;
    color:white;
    font-family: "bai jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #f58d8d;
    color: white;
    font-family: "bai jamjuree", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:inline-block;
}

main {
    text-align: center;
max-width:90%;
}

img {
    max-width: 80%;
}
